<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023426089934-ak5e2ls430k84o3csm1alcjambmb5fh9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023426089934-ak5e2ls430k84o3csm1alcjambmb5fh9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1023426089934-pnut4u3rfelus5g30b62icqdlevt91ht.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ByTtIbSfU0eeR-TFIPEwBlWkkVfL18w</string>
	<key>GCM_SENDER_ID</key>
	<string>1023426089934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.emodi</string>
	<key>PROJECT_ID</key>
	<string>emodi-e0d3b</string>
	<key>STORAGE_BUCKET</key>
	<string>emodi-e0d3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023426089934:ios:e866f7537771ab30f3119f</string>
	<key>DATABASE_URL</key>
	<string>https://emodi-e0d3b-default-rtdb.firebaseio.com</string>
</dict>
</plist>